h1{
	text-align: center;
  color: white;
}

div  {
	width: 60%;
	height: 80%;
}
body {
    background: url(../img/back.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    scroll-behavior: smooth;
      }
.navbar {
  max-width: 100vw;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
}
.container{
	padding-top: 60px;
}
p{
	text-align: justify;
	text-indent: 25px;
}
.center{
	text-align: center;
}
.boxShadow16 {
  margin: 2.5em auto 1em;
  padding: 1em;
  border: 1px solid #ccc;
  box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .2);
}
.shadowtext {
    text-shadow: 1px 1px 2px black, 0 0 1em #D2B48C; /* Параметры тени */
    font-size: 3em; /* Размер надписи */
   }
   .table{
    background-color: #75bbfd;
   }
   @media only screen and (max-device-width: 1200px) {
  footer {
    font-size: 2vw;
  }
}
.fa-clinic-medical, .fa-phone, .fa-laptop-medical {
  font-size: 4em;
}
.table{
  overflow-y: hidden;
}
@media {
  min-width 100px;
  min-height 100px;

}